@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

body{
  background-color:#60a3bc;
 font-family:'Roboto Mono', monospace; 
  text-align:center;
  margin:0;
}

h1{
  margin-bottom:0;
}

h1+p{
  margin-top:0;
}

form{
  background-color:#fff;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
  border-radius:4px;
  padding:30px 20px;
  max-width:450px;
  margin:40px auto;
}

.form-control{
  margin-bottom:20px;
  text-align:left;
}

.form-control label{
   display:block;
  margin-bottom:6px;
}

.form-control input, 
.form-control select,
.form-control textarea{
  border:1px solid #111;
  border-radius:2px;
  font-size:14px;
  font-family:inherit;
  padding:10px;
  display:block;
  width:95%;
}

.form-control input[type="radio"], .form-control input[type="checkbox"]{
  display:inline-block;
  width:auto;
}

button{
  background-color: #60a3bc;
  border: 2px solid #111;
  color: #111;
  cursor: pointer;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
  display: block;
  padding: 10px;
  width: 100%;
}

button:hover{
  background-color: #111;
  border: 2px solid #60a3bc;
  color: #fff;
}